@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&family=Roboto:ital,wght@0,300;0,500;1,400&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    

}
header{
    background-color: #718355;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}
.navigation a {
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    font-size: 14px;
    padding-left: 30PX;

}
.navigation a:hover{
    color:#222;

}

.img{
    width: 100%;
    min-height: 100vh; 
    background-image:url(images/cabinet.jpg )  ;
    
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;

}
  h1{
    font-size: 30px;
    color:#222;
    text-align:center;
   margin-top: 150px;
   padding: 20px;
}
 p{
    font-size: 20px;
    color:#222;
    text-align:center;
   margin-top: 20px;
   
}


   


 p{
    background-color: aliceblue;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
    animation:anime 2s linear;
    width:fit-content;

}
h1{
    
    
    animation:anime 2s linear;





}
@keyframes anime{
        from{
            transform: translateX(-300PX);
        }






}
